.icon-box {
  width: 100%;
  position: fixed;
  text-align: center;

  .icon-indicator {
    text-align: center;
    position: relative;
    margin-top: -30px;
    padding-right: 30px;

    img {
      width: 50px;;
    }
  }
}
.add-item-form {
  padding-top: 30px;
}

.error-container.error-upload {
  position: absolute;
  bottom: 0px;
  right: 63px;
  width: 139px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin: -10px 30px -15px 30px;
}
