.preview-container {
  margin: 0 30px;

  p {
    text-align: center;
    margin-bottom: 10px;
  }
  h3{ 
    text-align: center;
  }
}

.keeper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 20px -20px 30px -15px;
  .submit {
    width: 100px;
  }
}

