.profile-box {
  background-color: #a3a3a33b;
  border-radius: 10px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 19px;

  .image-container {
    position: absolute;
    text-align: center;
    margin-top: -47px;

  }

  .image-profile {
    width: 47%;
    border-radius: 50%;
  }

  .user-container {
    padding-top: 50px;
    align-self: center;
  }

  h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
}

.menu-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  img  {
    width: 100%;
    align-content: center;
  }
  .icon-container {
    width: 50%;
  }
}

.icon-container {
  width: 25%;
  p {
    text-align: center;
  }
  .menu-icon {
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    text-align: center;
    img {
      padding: 10px;
    }
  }
}
