.form {
  margin: 30px;
}

.field {
  padding: 15px 20px;
  font-size: 16px;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  margin-bottom: 8px;
  width: 100%;

}
.error-container{
  height: 22px;
}

.field::placeholder {
  color: #a3a3a3;
}

.submit {
  background-color: #48B984;
  border: 1px solid #48B984;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 30px;
  display: block;
  text-align: center;
  margin-bottom: 8px;
  button {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600; 
  }
}

.field.has-error {
  color: #48B984;
}

.validation {
  margin: 0;
  font-size: 12px;
  color: #48B984;
}

.field.has-error input {
  border: 1px solid #48B984;
}

.switch {
  text-align: center;
  font-size: 12px;
  a {
    color: #48B984
  }
}