<img class="backarrow" src="../../../assets/images/left-arrow.png" (click)="backClicked()">
<div class="icon-box">
  <div class="icon-indicator">
    <img src="../../../assets//images/coat-hanger.png" alt="">
  </div>
</div>

<app-loading *ngIf="!outfits"></app-loading>

<!-- <app-weather></app-weather> -->

<h2>Style</h2>

<div>
  <swiper [config]="config">
    <div class="icon-container">
      <div class="menu-icon">
        <img src="../../../assets/images/flip-flops.png" alt="">
      </div>
      <p>Casual</p>
    </div>
    <div class="icon-container">
      <div class="menu-icon">
        <img src="../../../assets/images/tie.png" alt="">
      </div>
      <p>Formal</p>
    </div>
    <div class="icon-container">
      <div class="menu-icon">
        <img src="../../../assets/images/running.png" alt="">
      </div>
      <p>Sports</p>
    </div>
    <div class="icon-container">
      <div class="menu-icon">
        <img src="../../../assets/images/cheers.png" alt="">
      </div>
      <p>Party</p>
    </div>
    <div class="icon-container">
      <div class="menu-icon">
        <img src="../../../assets/images/sun-umbrella.png" alt="">
      </div>
      <p>Beach</p>
    </div>
    <div class="icon-container">
      <div class="menu-icon">
        <img src="../../../assets/images/face-mask.png" alt="">
      </div>
      <p>Lazy</p>
    </div>
  </swiper>
</div>

<div class="wrap">
<ng-container *ngFor="let outfit of outfits">
  <div class="closet-container" >
    <div class="category">
      <div class="item-category">
        <div class="item-card">
        <a (click)="showDetail(outfit._id)" class="item-card-link" [style.background-image]="'url(' + outfit.tops.picture + ')'"></a>
        </div>
      </div>
    </div>
    <div class="category">
      <div class="item-category">
        <div class="item-card">
          <a (click)="showDetail(outfit._id)" class="item-card-link" [style.background-image]="'url(' + outfit.bottoms.picture + ')'"></a>
        </div>
      </div>
    </div>
    <div class="category">
      <div class="item-category">
        <div class="item-card">
          <a (click)="showDetail(outfit._id)" class="item-card-link" [style.background-image]="'url(' + outfit.footwear.picture + ')'"></a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
</div>