<form class="form" (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

<div class="field">
  <label>Picture</label>
  <input id="picture" [(ngModel)]="picture" #pictureField="ngModel" type="file" name="file" ng2FileSelect [uploader]="uploader" />
</div>

<!-- <div>
  <input class="field" type="text" name="category" [(ngModel)]="category" #usernameField="ngModel" required minlength="3" [disabled]="processing"/>
</div> -->

<fieldset>
  <legend>Tops</legend>
  <div>
    <input  id="dress" type="radio" [(ngModel)]="dress" #dressField="ngModel" name="dress" value="dress">
    <label for="dress">dress</label>
  </div>
  <div>
    <input  id="tshirt" type="radio" [(ngModel)]="tshirt" #tshirtField="ngModel" name="tshirt" value="tshirt">
    <label for="tshirt">t-shirt</label>
  </div>
  <div>
      <input  id="jacket" type="radio" [(ngModel)]="jacket" #jacketField="ngModel" name="jacket" value="jacket">
      <label for="jacket">jacket</label>
    </div>
  <div>
      <input  id="hoodie" type="radio" [(ngModel)]="hoodie" #hoddieField="ngModel" name="hoodie" value="hoodie">
      <label for="hoodie">hoodie</label>
    </div>
  <div>
    <input  id="blouse" type="radio" [(ngModel)]="blouse" #blouseField="ngModel" name="blouse" value="blouse">
    <label for="blouse">blouse</label>
  </div>
  <div>
    <input id="jersey" type="radio" [(ngModel)]="jersey" #jerseyField="ngModel" name="jersey" value="jersey">
    <label for="jersey">jersey</label>
  </div>
</fieldset>
 <fieldset>
    <legend>Bottoms</legend>
    <div>
      <input type="radio" id="jeans" [(ngModel)]="jeans" #jeansField="ngModel" name="jeans" value="jeans">
      <label for="jeans">jeans</label>
    </div>
    <div>
      <input type="radio" id="skirt" [(ngModel)]="skirt" #skirtField="ngModel" name="skirt" value="skirt">
      <label for="skirt">skirt</label>
    </div>
    <div>
        <input type="radio" id="shorts" [(ngModel)]="shorts" #shortsField="ngModel" name="shorts" value="shorts">
        <label for="shorts">shorts</label>
      </div>
    <div>
        <input type="radio" id="leggings" [(ngModel)]="leggings" #leggingsField="ngModel" name="leggings" value="leggings">
        <label for="leggings">leggings</label>
      </div>
    <div>
      <input type="radio" id="pants" [(ngModel)]="pants" #pantsField="ngModel"  name="pants" value="pants">
      <label for="pants">pants</label>
    </div>
    <div>
      <input type="radio" id="sweatpants" [(ngModel)]="sweatpants" #sweatpantsField="ngModel"  name="sweatpants" value="sweatpants">
      <label for="sweatpants">sweatpants</label>
    </div>
  </fieldset>
   <fieldset>
      <legend>Footwear</legend>
      <div>
        <input type="radio" id="sneakers" [(ngModel)]="sneakers" #sneakersField="ngModel"  name="sneakers" value="sneakers">
        <label for="sneakers">sneakers</label>
      </div>
      <div>
        <input type="radio" id="sandals" [(ngModel)]="sandals" #sandalsField="ngModel"  name="sandals" value="sandals">
        <label for="sandals">sandals</label>
      </div>
      <div>
          <input type="radio" id="boots" [(ngModel)]="boots" #bootsField="ngModel"  name="boots" value="boots">
          <label for="boots">boots</label>
        </div>
      <div>
          <input type="radio" id="loafers" [(ngModel)]="loafers" #loafersField="ngModel"  name="loafers" value="loafers">
          <label for="loafers">loafers</label>
        </div>
      <div>
        <input type="radio" id="highheels" [(ngModel)]="highheels" #highheelsField="ngModel"  name="highheels" value="highheels">
        <label for="highheels">high heels</label>
      </div>
      <div>
        <input type="radio" id="ballerinas" [(ngModel)]="ballerinas" #ballerinasField="ngModel" name="ballerinas" value="ballerinas">
        <label for="ballerinas">ballerinas</label>
      </div>
    </fieldset>
  <fieldset> 
      <legend>Style</legend>
      <div>
        <input type="radio" id="casual" [(ngModel)]="casual" #casualField="ngModel"  name="casual" value="casual">
        <label for="casual">casual</label>
      </div>
      <div>
        <input type="radio" id="formal" [(ngModel)]="formal" #formalField="ngModel"  name="formal" value="formal">
        <label for="formal">formal</label>
      </div>
      <div>
          <input type="radio" id="sports" [(ngModel)]="sports" #sportsField="ngModel" name="sports" value="sports">
          <label for="sports">sports</label>
        </div>
      <div>
          <input type="radio" id="party" [(ngModel)]="party" #partyField="ngModel"  name="party" value="party">
          <label for="party">party</label>
        </div>
      <div>
        <input type="radio" id="beach" [(ngModel)]="beach" #beachField="ngModel"  name="beach" value="beach">
        <label for="beach">beach</label>
      </div>
      <div>
        <input type="radio" id="lazy" [(ngModel)]="lazy" #lazyField="ngModel"  name="lazy" value="lazy">
        <label for="lazy">lazy</label>
      </div>
    </fieldset>
  
    <!-- <fieldset> 
      <legend>Style</legend>
      <div>
        <input type="radio" id="casual" [checked]="casual === 'Y'" (change)="casual = $event.target.checked ? 'Y' : 'N'" name="casual" value="casual">
        <label for="casual">casual</label>
      </div>
      <div>
        <input type="radio" id="formal" [checked]="formal === 'Y'" (change)="formal = $event.target.checked ? 'Y' : 'N'" name="formal" value="formal">
        <label for="formal">formal</label>
      </div>
      <div>
          <input type="radio" id="sports" [checked]="sports === 'Y'" (change)="sports = $event.target.checked ? 'Y' : 'N'" name="sports" value="sports">
          <label for="sports">sports</label>
        </div>
      <div>
          <input type="radio" id="party" [checked]="party === 'Y'" (change)="party = $event.target.checked ? 'Y' : 'N'" name="party" value="party">
          <label for="party">party</label>
        </div>
      <div>
        <input type="radio" id="beach" [checked]="beach === 'Y'" (change)="beach = $event.target.checked ? 'Y' : 'N'"  name="beach" value="beach">
        <label for="beach">beach</label>
      </div>
      <div>
        <input type="radio" id="lazy" [checked]="lazy === 'Y'" (change)="lazy = $event.target.checked ? 'Y' : 'N'"  name="lazy" value="lazy">
        <label for="lazy">lazy</label>
      </div>
    </fieldset> -->
    
  <button name="button" class="submit" type="submit">Add</button>
</form>
