<div class="hero">
  <img src="../../../assets/images/dressr logo.png" alt="dressr-logo">
</div>

<div class="auth">
  <a class="link" (click)="handleLoginClick()" [ngClass]="{'active': isLogin}" tabindex="0">Login</a>
  <p>|</p>
  <a class="link" (click)="handleSignupClick()" [ngClass]="{'active': isSignup}" tabindex="0">Sign Up</a>
</div>

<div *ngIf="isLogin">
  <app-login (switch)="handleSignupClick($event)"></app-login>
</div>

<div *ngIf="isSignup">
  <app-signup  (switch)="handleLoginClick($event)"></app-signup>
</div>