<fieldset>
    <legend>Tops</legend>
    <div>
      <input type="checkbox" id="coding" name="interest[]" value="coding">
      <label for="coding">dress</label>
    </div>
    <div>
      <input type="checkbox" id="music" name="interest[]" value="music">
      <label for="music">t-shirt</label>
    </div>
    <div>
        <input type="checkbox" id="music" name="interest[]" value="music">
        <label for="music">jacket</label>
      </div>
    <div>
        <input type="checkbox" id="music" name="interest[]" value="music">
        <label for="music">hoodie</label>
      </div>
    <div>
      <input type="checkbox" id="music" name="interest[]" value="music">
      <label for="music">blouse</label>
    </div>
    <div>
      <input type="checkbox" id="music" name="interest[]" value="music">
      <label for="music">jersey</label>
    </div>
  </fieldset>

  <fieldset>
      <legend>Bottoms</legend>
      <div>
        <input type="checkbox" id="coding" name="interest[]" value="coding">
        <label for="coding">jeans</label>
      </div>
      <div>
        <input type="checkbox" id="music" name="interest[]" value="music">
        <label for="music">skirt</label>
      </div>
      <div>
          <input type="checkbox" id="music" name="interest[]" value="music">
          <label for="music">shorts</label>
        </div>
      <div>
          <input type="checkbox" id="music" name="interest[]" value="music">
          <label for="music">leggings</label>
        </div>
      <div>
        <input type="checkbox" id="music" name="interest[]" value="music">
        <label for="music">pants</label>
      </div>
      <div>
        <input type="checkbox" id="music" name="interest[]" value="music">
        <label for="music">sweatpants</label>
      </div>
    </fieldset>

    <fieldset>
        <legend>Footwear</legend>
        <div>
          <input type="checkbox" id="coding" name="interest[]" value="coding">
          <label for="coding">sneakers</label>
        </div>
        <div>
          <input type="checkbox" id="music" name="interest[]" value="music">
          <label for="music">sandals</label>
        </div>
        <div>
            <input type="checkbox" id="music" name="interest[]" value="music">
            <label for="music">boots</label>
          </div>
        <div>
            <input type="checkbox" id="music" name="interest[]" value="music">
            <label for="music">loafers</label>
          </div>
        <div>
          <input type="checkbox" id="music" name="interest[]" value="music">
          <label for="music">high heels</label>
        </div>
        <div>
          <input type="checkbox" id="music" name="interest[]" value="music">
          <label for="music">ballerinas</label>
        </div>
      </fieldset>
  