/* Landing */

.hero {
  text-align: center;
  img { 
    width: 250px;
  }
}

.auth {
  display: flex;
  justify-content: space-around;
  margin: 0 30px 40px 30px;
  padding: 0 20px;
  .link { 
    font-size: 20px;
  }
  p {
    height: 25px;
    margin: 0;
  }
}

.fake-btn {
  background-color: #3B579D;
  border: 1px solid #3B579D;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  display: block;
  text-align: center;
  font-weight: 600;
  margin: 40px 30px;
}

.active {
  font-weight: 900;
  border-bottom: 1px solid #48B984;
  margin-bottom: 10px;
}

/* Navbar */
header {
  position: fixed;
  margin: 0 auto;
  top: 0;
  width: 100%;
  left: 0;
  padding: 15px 0;
  background-color: white;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 70px;
  }
}

#site-main {
  margin-top: 76px;
}


.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}