.closet-container {
  .item-category {
    height: 100px;
    .item-card-link {
      background-size: 31%;
    }
  }
  p {
    font-size: 20px;
  }
  .outfit-style {
    margin-top: 35px;
    margin-left: 20px;  
  }
}